body {
    background-color: #d7e9ff;
    color: #151515;
    font-family: "Khula", sans-serif;
    box-sizing: border-box;
}

h3 {
/*    margin: 12px;*/
}

.display-container, .user-input-container, .user-control-container {
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.display-number {
    display: inline-block;
    border: 1px solid #bfbfbf;
    margin: 8px;
    padding: 20px 24px;
    border-radius: 50%;
    background-color: white;
}

button {
    padding: 10px 36px;
    display: block;
    margin: auto;
    margin-top: 24px;
    background-color: #fbfbfb;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 1px 0 #b7b5b5;
    outline: none;
}

button:active {
    background-color: #e2e2e2;
}