<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/zero.css"/>
        <link type="text/css" rel="stylesheet" href="css/perfPitch.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Paytone+One|Khula:400,800' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    <body>
        <div ng-app='perfPitch'>
            <div ng-controller='mainCtrl' ng-init='init()'>
                <div class='display-container'>
                    <h3>Current Sequence</h3>
                    <div class='display-number' ng-repeat='item in gameData.currentSequence track by $index'>{{item}}</div>
                </div>
                <div class='user-input-container'>
                    <h3>User Input</h3>
                    <div class='display-number' ng-repeat='item in userData.currentEntry track by $index'>{{item}}</div>
                </div>
                <div class='user-control-container'>
                    <h3>User Controls</h3>
                    <button class='display-number display-number-box' ng-repeat='item in soundArray' ng-click='userEnter(item)' type="button">{{item}}</button>
                </div>
                <button ng-click='sequence()' type="button">Reset</button>
                <div id='note-container'>
                    <audio id='note_c'>
                      <source src="audio/c.ogg" type="audio/ogg">
                      <source src="audio/c.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_c_sharp'>
                      <source src="audio/c_sharp.ogg" type="audio/ogg">
                      <source src="audio/c_sharp.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_d'>
                      <source src="audio/d.ogg" type="audio/ogg">
                      <source src="audio/d.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_d_sharp'>
                      <source src="audio/d_sharp.ogg" type="audio/ogg">
                      <source src="audio/d_sharp.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_e'>
                      <source src="audio/e.ogg" type="audio/ogg">
                      <source src="audio/e.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_f'>
                      <source src="audio/f.ogg" type="audio/ogg">
                      <source src="audio/f.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_f_sharp'>
                      <source src="audio/f_sharp.ogg" type="audio/ogg">
                      <source src="audio/f_sharp.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_g'>
                      <source src="audio/g.ogg" type="audio/ogg">
                      <source src="audio/g.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_g_sharp'>
                      <source src="audio/g_sharp.ogg" type="audio/ogg">
                      <source src="audio/g_sharp.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_a'>
                      <source src="audio/a.ogg" type="audio/ogg">
                      <source src="audio/a.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_a_sharp'>
                      <source src="audio/a_sharp.ogg" type="audio/ogg">
                      <source src="audio/a_sharp.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <audio id='note_b'>
                      <source src="audio/b.ogg" type="audio/ogg">
                      <source src="audio/b.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                </div>
                <div class='modal modal-win' ng-show='entryComplete'>
                    <div class='modal-header'>Great Job</div>
                    <span>You did good!</span>
                    <button type='button' ng-click='sequence()'>OK</button>
                </div>
                <div class='modal modal-lose' ng-hide='accuracy'>
                    <div class='modal-header'>Sorry:(</div>
                    <span>You'll have to try again.</span>
                    <button type='button' ng-click='resetEntryData()'>OK</button>
                </div>
            </div>
        </div>
        <script src='js/perfPitch.js'></script>
        <script src='js/controllers/mainCtrl.js'></script>
    </body>
</html>